@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
  --cor-primaria: #000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #2e86ab;
  --cor-hover: #103900;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montsserat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.cabecalho {
  padding: 2% 0% 0% 10%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-terciaria);
  text-decoration: none;
}

.apresentacao {
  padding: 5% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.apresentacao__conteudo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}

.apresentacao__conteudo__imagem {
  width: 488px;
  height: 550px;
  top: 235px;
  left: 1030px;
  border-radius: 50%;
}

.apresentacao__conteudo__titulo {
  font-family: var(--fonte-primaria);
  font-size: 2.25rem;
}
.texto-destaque {
  color: var(--cor-terciaria);
}
.apresentacao__conteudo__texto {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
}

.apresentacao__conteudo__texto__about {
  font-family: var(--fonte-secundaria);
  font-size: 1rem;
}
.apresentacao__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.apresentacao__links__subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.5rem;
}
.apresentacao__links__button {
  font-family: var(--fonte-secundaria);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 16px;
  font-size: 1.5rem;
  padding: 21.5px 0;
  width: 50%;
  text-align: center;
  border: 2px solid var(--cor-terciaria);
  border-radius: 8px;
  text-decoration: none;
  color: var(--cor-secundaria);
}
.apresentacao__links__button:hover {
  background-color: var(--cor-hover);
  border: transparent;
}

.rodape {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: #103900;
}
@media (max-width: 1200px) {
  .cabecalho {
    padding: 10%;
  }
  .cabecalho__menu {
    justify-content: center;
  }
  .apresentacao {
    padding: 5%;
    flex-direction: column-reverse;
  }
  .apresentacao__conteudo {
    width: auto;
  }
  .apresentacao__conteudo__imagem {
    height: 450px;
    width: 100%;
  }
}
